#msg-box4-6 .mbr-header__text {
  color: #000000;
}
#msg-box4-6 .mbr-header__subtext {
  color: #777777;
}
#msg-box4-6 .mbr-article {
  color: #ffffff;
}
#msg-box4-6 .mbr-article P {
  color: #7c706b;
}
#features1-e .mbr-header__subtext {
  text-align: center;
}
#header3-h H3 {
  text-align: center;
}
#header3-h P {
  text-align: left;
}
#msg-box2-d .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-d .mbr-article {
  color: #252525;
}
#ext_menu-c .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-c.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-c .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-c .mbr-navbar__hamburger {
  color: #ffffff;
}
#footer1-g P {
  text-align: center;
}
